<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>PREVIOUSLY DELETED ITEMS</title>
</head>
<body>
<!-- todoList ${todoList} -->

<h3>Deleted Todo Items:</h3>
<th:block th:each="todoItem : ${todoList}">
  <ul>
    <!--    <li th:text="'Name: ' + ${todoItem.getName()} + ' Completed: ' + ${todoItem.getCompleted()}"></li>-->
    <li th:text="'ID: ' + ${todoItem.getId()}"></li>
    <li th:text="'Name: ' + ${todoItem.getName()}"></li>
    <li th:text="'Completed: ' + ${todoItem.getCompleted()}"></li>
  </ul>
</th:block>

</body>
</html>