<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Todo List</title>
</head>
<body>
<!-- todoList ${todoList} -->
<h3>Add a new Todo Item:</h3>
<form method="post" action="/todo">
    <label>New Item Name: <input type="text" name="value"></label>
    <input type="submit" value="Add Item">
</form>

<h3>Todo Items:</h3>
<th:block th:each="todoItem : ${todoList}">
    <ul>
<!--    <li th:text="'Name: ' + ${todoItem.getName()} + ' Completed: ' + ${todoItem.getCompleted()}"></li>-->
        <li th:text="'ID: ' + ${todoItem.getId()}"></li>
        <li th:text="'Name: ' + ${todoItem.getName()}"></li>
        <li th:text="'Completed: ' + ${todoItem.getCompleted()}"></li>
<!--        <a th:href="@{/order/details(id=${order.id})}">-->
        <li><a th:href="@{/todo/complete(id=${todoItem.getId()})}">Mark as Complete</a></li>
        <li><a th:href="@{/todo/delete(id=${todoItem.getId()})}">Delete Item</a></li>
    </ul>
</th:block>

</body>
</html>