<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<!-- todoList ${todoList} -->
<div class="container-fluid">
    <div th:replace="fragments :: menu"></div>
    <h3>Add a new Todo Item:</h3>
    <form method="post" action="/todo">
        <label>New Item Name: <input type="text" name="value"></label>
        <input type="submit" value="Add Item">
    </form>

    <h3>Todo Items:</h3>
    <table class="table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Completed</th>
                <th>Mark as Complete?</th>
                <th>Delete?</th>
            </tr>
            <tr th:each="todoItem : ${todoList}">
                <td th:text="${todoItem.getId()}"></td>
                <td th:text="${todoItem.getName()}"></td>
                <td th:text="${todoItem.getCompleted()}"></td>
                <td><th:block th:if="${!todoItem.getCompleted()}"><a th:href="@{/todo/complete(id=${todoItem.getId()})}">Mark Complete</a></th:block></td>
                <td><a th:href="@{/todo/delete(id=${todoItem.getId()})}">Delete Item</a></td>
            </tr>
    </table>
</div>
</body>
</html>